Package: space.shino.hidetime
Name: HideTime
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: shino
Author: shino
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
